<!DOCTYPE html>
<html> 
<head> 

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Map Quiz Results</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://nav.files.bbci.co.uk/orbit/ece9cb048f668bbc4cc6214737a6cdb6/css/orb-ltr.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/play-game.css" />

  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtf3cvpiBnQrcjL0GUb1IkGkqLRhMQz7Y">
  </script>

  <script src="map-options.js"></script>


  <script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see a blank space instead of the map, this
  // is probably because you have denied permission for location sharing.

  var map;
  var marker;
  var laturl;
  var lngurl;
  // var baseurl = "?coordinates=";
  var baseurl = "/save-result?resultid=";
  var linkurl;
  var comma = ",";

  //set map variables
  function initialize() {

    map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  }
</script>

</head> 
<body>
  <div id="map-canvas"></div>

  <script type="text/javascript">
  var gameId = "<%= gamesDBResult[0].locations.gameId %>";
  var location1 = "<%= gamesDBResult[0].locations.location1 %>";
  var location1coords = "<%= gamesDBResult[0].locations.location1coords %>".replace("(", "").replace(")", "").split(',');
  var location2 = "<%= gamesDBResult[0].locations.location2 %>";
  var location2coords = "<%= gamesDBResult[0].locations.location2coords %>".replace("(", "").replace(")", "").split(',');
  var location3 = "<%= gamesDBResult[0].locations.location3 %>";
  var location3coords = "<%= gamesDBResult[0].locations.location3coords %>".replace("(", "").replace(")", "").split(',');
  var location4 = "<%= gamesDBResult[0].locations.location4 %>";
  var location4coords = "<%= gamesDBResult[0].locations.location4coords %>".replace("(", "").replace(")", "").split(',');
  var location5 = "<%= gamesDBResult[0].locations.location5 %>";
  var location5coords = "<%= gamesDBResult[0].locations.location5coords %>".replace("(", "").replace(")", "").split(',');
  var location6 = "<%= gamesDBResult[0].locations.location6 %>";
  var location6coords = "<%= gamesDBResult[0].locations.location6coords %>".replace("(", "").replace(")", "").split(',');
  var location7 = "<%= gamesDBResult[0].locations.location7 %>";
  var location7coords = "<%= gamesDBResult[0].locations.location7coords %>".replace("(", "").replace(")", "").split(',');
  var location8 = "<%= gamesDBResult[0].locations.location8 %>";
  var location8coords = "<%= gamesDBResult[0].locations.location8coords %>".replace("(", "").replace(")", "").split(',');
  var location9 = "<%= gamesDBResult[0].locations.location9 %>";
  var location9coords = "<%= gamesDBResult[0].locations.location9coords %>".replace("(", "").replace(")", "").split(',');
  var location10 = "<%= gamesDBResult[0].locations.location10 %>";
  var location10coords = "<%= gamesDBResult[0].locations.location10coords %>".replace("(", "").replace(")", "").split(',');
  var location11 = "<%= gamesDBResult[0].locations.location11 %>";
  var location11coords = "<%= gamesDBResult[0].locations.location11coords %>".replace("(", "").replace(")", "").split(',');
  var location12 = "<%= gamesDBResult[0].locations.location12 %>";
  var location12coords = "<%= gamesDBResult[0].locations.location12coords %>".replace("(", "").replace(")", "").split(',');
  var location13 = "<%= gamesDBResult[0].locations.location13 %>";
  var location13coords = "<%= gamesDBResult[0].locations.location13coords %>".replace("(", "").replace(")", "").split(',');
  var location14 = "<%= gamesDBResult[0].locations.location14 %>";
  var location14coords = "<%= gamesDBResult[0].locations.location14coords %>".replace("(", "").replace(")", "").split(',');
  var location15 = "<%= gamesDBResult[0].locations.location15 %>";
  var location15coords = "<%= gamesDBResult[0].locations.location15coords %>".replace("(", "").replace(")", "").split(',');
  var questions = [ [location1, location1coords[0], location1coords[1]], 
  [location2, location2coords[0], location2coords[1]], 
  [location3, location3coords[0], location3coords[1]], 
  [location4, location4coords[0], location4coords[1]], 
  [location5, location5coords[0], location5coords[1]], 
  [location6, location6coords[0], location6coords[1]], 
  [location7, location7coords[0], location7coords[1]], 
  [location8, location8coords[0], location8coords[1]], 
  [location9, location9coords[0], location9coords[1]], 
  [location10, location10coords[0], location10coords[1]], 
  [location11, location11coords[0], location11coords[1]], 
  [location12, location12coords[0], location12coords[1]], 
  [location13, location13coords[0], location13coords[1]], 
  [location14, location14coords[0], location14coords[1]], 
  [location15, location15coords[0], location15coords[1]]
  ] ;
  


  // var locations = [
  // ["Jones_Lima", -7.159340532013569,-78.26782775975533, 1],
  // ["AngelaBreen_Lima", -12.743553562845102,-70.39282320000001, 2],
  // ];

  

// Got DB results: { gamesDBResult:
//     [ { id: 2,
//          gameid: '935125    ',
//          created_at: 2021-01-03T17:05:49.111Z,
//          locations: [Object] } ],
    
//     resultsDBResult:
//      [ { resultid: 'Phil_Tehran, Iran',
//          gameid: '935125    ',
//          created_at: 2021-01-03T17:10:09.261Z,
//          resultuser: 'Phil',
//          resultlocationname: 'Tehran, Iran',
//          resultcoordinates: '44.765221343631985,20.66186429999999' },
       

  var resultLocations = [
    <% resultsDBResult.forEach(function(r) { %>
        ["<%= r.resultid %>", <%= r.resultcoordinates.replace("(", "").replace(")", "").split(',')[0] %>, <%= r.resultcoordinates.replace("(", "").replace(")", "").split(',')[0] %>],
    <% }); %>
    ];

  // var resultLocations = [
  // ["Phil_Helsinki, Finland", 55.667484661882334,14.245848674999992, 1],
  // ];

 // Phil_Helsinki, Finland | 638176     | 2021-01-03 15:39:14.498447 | Phil       | Helsinki, Finland  | 55.667484661882334,14.245848674999992
 // Phil_Niamey, Niger     | 638176     | 2021-01-03 15:39:29.742681 | Phil       | Niamey, Niger      | -0.7210158035310592,35.51537992499999
 // Phil_Stockholm, Sweden | 638176     | 2021-01-03 15:39:47.88321  | Phil       | Stockholm, Sweden  | 56.81513133871018,13.059325237499992


  </script>

  <script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 3,
    center: new google.maps.LatLng(51.00, 0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  const image = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";

  var locationMarker = new Map();
  // console.log("error-ish:" + address + " _____ " + marker)
  // locationMarker.set(resultLocations[i], marker);
  for (i = 0; i < questions.length; i++) {
    //    var address = questions[i].toString()
    marker = new google.maps.Marker({
    position: new google.maps.LatLng(questions[i][1], questions[i][2]),
    map: map,
    icon: image
    });
    locationMarker.set(questions[i][0], marker);
    //locationMarker.set(questions[i][0].replaceAll(" ", ""), marker);
  }

  function haversine_distance(mk1, mk2) {
    var R = 3958.8; // Radius of the Earth in miles
    var rlat1 = mk1.position.lat() * (Math.PI/180); // Convert degrees to radians
    var rlat2 = mk2.position.lat() * (Math.PI/180); // Convert degrees to radians
    var difflat = rlat2-rlat1; // Radian difference (latitudes)
    var difflon = (mk2.position.lng()-mk1.position.lng()) * (Math.PI/180); // Radian difference (longitudes)

    var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
    return d;
  }


  // Display the results as markers
  var count_names = 0;
  var names_map = new Map();
  for (i = 0; i < resultLocations.length; i++) {  

    var name = resultLocations[i][0].split("_")[0]
    var name_number = 1
    if (names_map[name] != null) {
     name_number = names_map[name];
   } else {
     count_names += 1;
     name_number = count_names;
     names_map[name] = count_names;
   }
   var icon_image = "http://maps.google.com/mapfiles/kml/paddle/" + name_number + ".png"

   marker = new google.maps.Marker({
    position: new google.maps.LatLng(resultLocations[i][1], resultLocations[i][2]),
    map: map,
    label: name,
	//icon: icon_image
});

   var question = resultLocations[i][0].split("_")[1]
   console.log("loc=" + resultLocations[i][0] + "+++ question=" + question)
   questionMarker = locationMarker.get(question)
   var line = new google.maps.Polyline({path: [marker.getPosition(), questionMarker.getPosition()], map: map});
      //var polylineLength = google.maps.geometry.spherical.computeLength(line.getPath()) / 1000;
      var polylineLength = haversine_distance(marker, questionMarker);
      resultLocations[i][2] = polylineLength;
      console.log("errorish:" + question + " _____ " + questionMarker + "----" + polylineLength + "====" + resultLocations[i][2] + "==" + name)

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(resultLocations[i][0] + " (" + Math.round(resultLocations[i][2]) + " miles away)");
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    </script>


<ul>
    <% resultsDBResult.forEach(function(r) { %>
        <li><%= r.resultid %> - <%= r.gameid %></li>
    <% }); %>
</ul>

  </body>
  </html>
